<app-navbar></app-navbar>
<div
  [ngStyle]="{
    background:
      'radial-gradient(at ' + left + '% ' + top + '%,  #fad190, #ffc66b )'
  }"
  class="about"
>
  <div class="container">
    <h1 class="text-center fact-title">About Us</h1>
    <p class="lead text-center fact-info">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum soluta
      doloribus eligendi, tempora voluptatem magnam quibusdam at tenetur amet
      laudantium officiis assumenda nihil similique temporibus culpa porro sequi
      nobis nostrum! Eum aperiam qui et quis quos tenetur autem illum at nostrum
      voluptatum. Blanditiis quibusdam mollitia consequatur perferendis
      accusamus quos cumque?
    </p>
  </div>
</div>
