<div class="navigation">
  <input type="checkbox" class="navigation__checkbox"
  id="navi-toggle"
  >
  <label for="navi-toggle" class="navigation__button"><span class="navigation__icon"></span></label>
  <div class="navigation__background"></div>
  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a routerLink="/home" class="navigation__link"><span>1. </span>Home</a>
      </li>
      <li class="navigation__item">
        <a routerLink="/profile" class="navigation__link"><span>2. </span>Profile</a>
      </li>
      <li class="navigation__item">
        <a routerLink="/learn" class="navigation__link"><span>3. </span>Learn</a>
      </li>
      <li class="navigation__item">
        <a routerLink="/journal" class="navigation__link"><span>4. </span>Journal</a>
      </li>
      <li class="navigation__item">
        <a routerLink="/about" class="navigation__link"><span>5. </span>About</a>
      </li>
    </ul>
  </nav>
</div>
