<p *ngIf="!noJournals">No Journal Entries</p>
<div class="chart-wrapper mx-auto" style="padding-top: 5rem;">
  <h1 class="text-center">Here's the data we gathered from your jounral entries</h1>
  <h3 *ngIf="view == 'week'" class="text-center my-4">
    Week of {{ currentSunday | date: "shortDate" }}
  </h3>
  <h3 *ngIf="view == 'year'" class="text-center my-4">
    Year {{ currentYear.getFullYear() }}
  </h3>
  <div class="container">
    <div class="row">
      <div *ngIf="view == 'year'" class="col-12 col-md-4">
        <canvas
          baseChart
          [datasets]="hourYearData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="hoursColors"
        >
        </canvas>
      </div>
      <div *ngIf="view == 'year'" class="col-12 col-md-4">
        <canvas
          baseChart
          [datasets]="moodYearData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="moodColors"
          [options]="moodOptions"
        >
        </canvas>
      </div>
      <div *ngIf="view == 'year'" class="col-12 col-md-4">
        <canvas
          baseChart
          [datasets]="focusYearData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="focusColors"
          [options]="focusOptions"
        >
        </canvas>
      </div>
      <!-- <div class="col-12">
        <h3 class="text-center my-4">
          Week of {{ currentSunday | date: "shortDate" }}
        </h3>
      </div> -->
      <div *ngIf="view == 'week'" class="col-12 col-md-4">
        <canvas
          baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="hoursOptions"
          [colors]="hoursColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
        >
        </canvas>
      </div>
      <div *ngIf="view == 'week'" class="col-12 col-md-4">
        <canvas
          baseChart
          [datasets]="moodData"
          [labels]="lineChartLabels"
          [options]="moodOptions"
          [colors]="moodColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
        >
        </canvas>
      </div>
      <div *ngIf="view == 'week'" class="col-12 col-md-4">
        <canvas
          baseChart
          [datasets]="focusData"
          [labels]="lineChartLabels"
          [options]="focusOptions"
          [colors]="focusColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
        >
        </canvas>
      </div>
      <div *ngIf="view == 'scatter'" class="col-12 col-md-6">
        <canvas
          baseChart
          [datasets]="hourMoodData"
          [options]="moodOptions"
          [chartType]="'scatter'"
          [colors]="moodColors"
        >
        </canvas>
      </div>
      <div *ngIf="view == 'scatter'" class="col-12 col-md-6">
        <canvas
          baseChart
          [datasets]="hourFocusData"
          [options]="focusOptions"
          [chartType]="'scatter'"
          [colors]="focusColors"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-4">
  <button
    class="btn btn-light mx-2"
    [class.active]="view == 'week'"
    (click)="switchGraph('week')"
  >
    Week
  </button>
  <button class="btn btn-light mx-2"  [class.active]="view == 'year'" (click)="switchGraph('year')">
    Year
  </button>

  <button class="btn btn-light mx-2" [class.active]="view == 'scatter'" (click)="switchGraph('scatter')">
    Scatter
  </button>
</div>
<div *ngIf="view == 'week'" class="text-center mt-4">
  <button class="btn btn-light mx-2" (click)="prevSunday()">
    Previous Week
  </button>
  <button class="btn btn-light mx-2" (click)="nextSunday()">Next Week</button>
</div>
<div *ngIf="view == 'year'" class="text-center mt-4">
  <button class="btn btn-light mx-2" (click)="prevYear()">
    Previous Year
  </button>
  <button class="btn btn-light mx-2" (click)="nextYear()">Next Year</button>
</div>

<div *ngIf="view == 'week'" class="container text-center mt-4">
  <p *ngIf="notes.length > 0">Notes from this week</p>
  <p *ngIf="notes.length == 0">No notes from this week</p>
  <div class="row">
    <div
      class="col-12 col-md-4 mb-4"
      *ngFor="let note of notes; let i = index"
      [ngStyle]="{ display: note ? 'inline' : 'none' }"
    >
      <div style="background-color: white; border-radius: 20px; padding: 20px;">
        <p class="lead">{{ weeks[i] }}</p>
        <p>{{ note }}</p>
      </div>
    </div>
  </div>
</div>
